{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Record civil controlled work
      </h1>

      <p>This service replaces the controlled work paper or PDF forms.</p>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>tell the Legal Aid Agency (LAA) about controlled work you are completing
        <li>check whether someone is eligible due to a passporting benefit, using the DWP checker</li>
        <li>escalate complex means assessments to the LAA. This means the LAA will complete the means assessment with the client before referring them back to you</li></li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "case-list",
        isStartButton: true
      }) }}

      <!-- <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can also <a href="#">register by post</a>.
      </p>

      <p>
        The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.
      </p>

      <p>
        You can’t register for this service if you’re in the UK illegally.
      </p> -->

    </div>


  </div>

{% endblock %}
