{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Client and case details</span>
      <h1 class="govuk-heading-l">Who does the matter involve?</h1>

      <p class="govuk-hint">Choose the organisation whose action or decision is being challenged.</p>
      
      <form method="post" action="./check-answers-client-details">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who" name="matter-who" type="radio" value="Central Government Department/Agency">
                <label class="govuk-label govuk-radios__label" for="matter-who">
                  Central Government Department/Agency
                </label>
                <div id="matter-who-hint" class="govuk-hint govuk-radios__hint">
                  Code: BCGD
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who-2" name="matter-who" type="radio" value="Local Authority">
                <label class="govuk-label govuk-radios__label" for="matter-who-2">
                  Local Authority 
                </label>
                <div id="matter-who-2-hint" class="govuk-hint govuk-radios__hint">
                  Code: BLOC
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who-3" name="matter-who" type="radio" value="Health service provider">
                <label class="govuk-label govuk-radios__label" for="matter-who-3">
                  Health service provider
                </label>
                <div id="matter-who-3-hint" class="govuk-hint govuk-radios__hint">
                  Code: BHSP
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who-4" name="matter-who" type="radio" value="Discrimination">
                <label class="govuk-label govuk-radios__label" for="matter-who-4">
                  Discrimination
                </label>
                <div id="matter-who-4-hint" class="govuk-hint govuk-radios__hint">
                  Code: BDIS
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who-5" name="matter-who" type="radio" value="Education service provider">
                <label class="govuk-label govuk-radios__label" for="matter-who-5">
                  Education service provider
                </label>
                <div id="matter-who-5-hint" class="govuk-hint govuk-radios__hint">
                  Code: BESP
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who-6" name="matter-who" type="radio" value="Public Utility">
                <label class="govuk-label govuk-radios__label" for="matter-who-6">
                  Public Utility
                </label>
                <div id="matter-who-6-hint" class="govuk-hint govuk-radios__hint">
                  Code: BPUB
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who-7" name="matter-who" type="radio" value="Private Company/organisation providing other public services">
                <label class="govuk-label govuk-radios__label" for="matter-who-7">
                  Private Company/organisation providing other public services
                </label>
                <div id="matter-who-7-hint" class="govuk-hint govuk-radios__hint">
                  Code: BPRI
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who-8" name="matter-who" type="radio" value="Other">
                <label class="govuk-label govuk-radios__label" for="matter-who-8">
                  Other
                </label>
                <div id="matter-who-8-hint" class="govuk-hint govuk-radios__hint">
                  Code: BOTH
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="matter-who-9" name="matter-who" type="radio" value="NASS advice">
                <label class="govuk-label govuk-radios__label" for="matter-who-9">
                  NASS advice
                </label>
                <div id="matter-who-8-hint" class="govuk-hint govuk-radios__hint">
                  Code: BNAS
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
