{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Means and match team prototypes
    </h1>

    <div class="govuk-!-padding-bottom-6"></div>

    <span class="govuk-caption-m">24 Oct 2025</span>
    <h2 class="govuk-heading-l">Version 9</h2>
    <p class="govuk-body">XXX:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>XXX</li>
    </ul>
    <a href="v9/start-page" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>


  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


    <span class="govuk-caption-m">26 Sep 2025</span>
    <h2 class="govuk-heading-l">Version 8</h2>
    <p class="govuk-body">First version of a coded prototype, designed to further test a digitised controlled work journey for providers</p>
    <p class="govuk-body">Limitations:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>This coded prototype only covers journeys up to the end of the client details section, including a first view of the tasklist</li>
      <li>The means assessment section and questions is covered by a link out to CCQ for this version</li>
      <li>Remaining sections of the task list (evidence and declarations) are being tested in a <a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=2693%3A19288&node-id=2705-2625&viewport=108%2C205%2C0.12&t=bFDZmuxwoLhq09wa-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=2705%3A2625">Figma prototype</a> with three varations</li>

    </ul>
    <a href="v8/case-list" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>


  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  


</div>




{% endblock %}
