{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Test
    </h1>

    <div class="govuk-!-padding-bottom-6"></div>


    <span class="govuk-caption-m">26 Sep 2025</span>
    <h2 class="govuk-heading-l">Version 8</h2>
    <p class="govuk-body">First version of a coded prototype. Designed to further test:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>A digitised controlled work form/journey for providers</li>

    </ul>
    <a href="v8/start-page" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>


  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  {% include "govuk-prototype-kit/includes/homepage-top.njk" %}


</div>




{% endblock %}
